body
{
    background-color: #081920;

    color: #FFFFFF;

    margin-left: 10%;
    margin-right: 10%;
    
    text-align: center;

    width: auto;
}

/* Set styling for first part of welcome message for homepage */
.welcome_title
{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 70px;

    margin-top:10%;
    margin-bottom:5%;
}

.welcome_title strong
{
    color: #CEB268;
}

/* Set styling for second part of welcome message for homepage */
.welcome_message strong
{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;

    color: #CEB268;
}

.welcome_description
{
    font-weight: 100;
    font-size: 30px;
}

.welcome_description strong
{
    font-weight: 700;

    color: #CEB268;
}

/* Set font styling for main element text */
main
{
    font-family: 'Roboto', sans-serif;
}

main h2
{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0px;
    margin-block-end: 0.1em;
    color: #CEB268;
    text-align: left;

    margin-left: 3%;
    margin-right: 3%;
}

main p
{
    font-weight: 300;
    font-size: 22px;
}

main p strong
{
    font-weight: 700;
    color: #CEB268;
}

/* Styling for descriptive text */
main .description
{
    font-size: 16px;
    margin-top:5px;
}

/* Styling for dates of experience */
main .date
{
    opacity: 50%;
    font-size: 12px;
    margin-top:0;
}

main li
{
    font-weight: 300;
    font-size: 22px;
    margin-top: 2px;
    margin-bottom: 2px;
}

main ul
{
    margin-top: 5px;
    text-align: left;

    list-style-type: " > ";

    margin-left: 3%;
    margin-right: 3%;
}

/* Each list has its own class in the event 
of unique styling to the different lists */

/* List styling for experience list */
.experience_list
{
    padding-left: 5%;
}


/* List styling for list of completed classes*/
.completed_classes
{
    padding-left: 5%;
}

/* List styling for list of skillsets*/
.skillsets
{
    padding-left: 5%;
}


.personalproj_list
{
    padding-left: 5%;
}

/* List styling for descriptive unordered lists in main*/
main ul .description_list
{
    list-style-type: ' > ';
    margin-bottom: 10px;
    padding-left: 15px;
}

/* Flexbox styling */
.flexbox_container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexbox-item
{
    width:370px;
    margin:10px;
    border: 1px solid #CEB268;
    
    margin-left: 3%;
    margin-right: 3%;
}

.completed_classes_box
{
    min-height: 300px;
}

.experience_list_box
{
    min-height: 300px;
}

.personalproj_box
{
    min-height: 300px;

}

