body
{
    background-color: #081920;

    /* Make the text white since the background is so dark*/
    color: #FFFFFF;
}

/* Contain completed classes within an unordered list class */
.completed_classes
{
    color: #FFFFFF;
    padding: 0;
    list-style-type: none;
}